@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Carter One', cursive;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

input:focus{
  outline: none;
}

.slick-slider {
  width: 100%;
}
.slick-slide{
  display: flex !important;
  justify-content: center;
}

/** 遊客一 專家清單 */ 
/** 遊客一 城市清單 */ 
.slick-slider.expert-list .slick-track,
.slick-slider.city-list .slick-track {
  display: flex;
}

.slick-slider.expert-list .slick-slide,
.slick-slider.city-list .slick-track {
  float: initial;
}

/** 遊客一 遊客清單 */ 
.slick-slider.evaluate-list .slick-slide > div{
  width: 90%;
}

@media (max-width: 768px) {
  .slick-slider.evaluate-list .slick-dots{
    bottom: 30px;
  }
}

/** 遊客二 專家清單 */ 
/** 遊客二 專家清單 */ 
.slick-slider.expert-album .slick-track {
  width: auto !important;
}

/** 遊客二 時間篩選滑塊*/
.sliderTrack {
  top: 5px;
  height: 12px;
  background: #ffffff !important;
  border: 1px solid #707070;
  border-radius: 5px;
  z-index: 0;
}

.sliderTrack .range-slider__thumb[data-lower],
.sliderTrack .range-slider__thumb[data-upper] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 3px;
  outline: none;
}

.sliderTrack .range-slider__range {
  background: #00b6dd;
}